

{{> head }}


    {{> navbar }}

<div class="row">
<div class="col-8">
    <h1> Pc Escritorio</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto et quam ad nisi nostrum voluptatibus quae aliquam 
        exercitationem voluptatum harum enim fugit nemo officiis, praesentium atque perferendis nihil aliquid eveniet.
    </p>

</div>
<div class="col-4">
    <img src="assets/img/paisaje.jpg" alt="img-thumbnail">

</div>

</div>
    

{{> footer }}